@use "@styles/abstracts" as *;
.project__subcard {
  flex: 1 1 288px;
  height: auto;
  background-color: var(--c-secondary);
  border-radius: 8px;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  transition: transform 0.3s ease;
  justify-content: space-between;
  &:hover {
    transform: translateY(-4px);
  }
  @include breakpoint-down(medium) {
    max-width: 90%;
    margin: 0 auto;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint-down(x-small) {
      margin-bottom: 4px;
    }
  }
  &-icon {
    // height: 20px;
    width: 24px;
    display: flex;
    align-items: center;
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 4px 8px;
    line-height: 12px;
    border-radius: 4px;
    height: max-content;
    width: max-content;
    text-transform: capitalize;
    &--green {
      border: 1px solid var(--c-green);
      color: var(--c-green);
    }
    &--purple {
      color: var(--c-purple);
      border: 1px solid var(--c-purple);
    }
    &--project-info {
      color: var(--c-f-off-white);
      background-color: var(--c-highlight);
    }
  }

  &-title {
    color: var(--c-f-white);
    font-family: Cabin;
    font-size: 18px;
    line-height: 24px;
    -webkit-line-clamp: 3;
    text-transform: capitalize;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    // text-align: center;
  }

  &-project-info {
    display: flex;
    column-gap: 12px;
    // justify-content: center;
    margin-top: 12px;
  }

  &-links {
    display: flex;
    column-gap: 16px;
    margin-top: 8px;
    // justify-content: center;
  }
}
