@use "@styles/abstracts" as *;
.nav-modal {
  background-color: var(--c-secondary);
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  border: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;

  &__options {
    margin: 40px auto;
    max-width: 320px;
    width: 100%;

  }

  &__theme {
    display: flex;
    color: var(--c-f-off-white);
    font-family: Poppins;
    text-transform: capitalize;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 12px 12px;
    margin:24px 0;
    background-color: var(--c-primary);
    border-radius: 6px;
    font-weight: 200;
    font-size: 14px;
  }
  &__media {
    display: flex;
    justify-content:center;
    column-gap: 32px;
  }
  &__divider {
    height: 24px;
    min-width: 2px;
    border-radius: 4px;
    background-color: var(--c-highlight);
  }
  &__right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  @include breakpoint-up(medium) {
    display: none;
  }
  &__navbar {
    display: flex;
    padding-left: 16px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 72px;
    border-bottom: 1px solid var(--c-highlight);
  }
}
