@use "@styles/abstracts" as *;

.toolbelt__cards-container {
  min-height: 204px;
}

.toolbelt__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  @include breakpoint-down(small) {
    gap: 12px;
  }
}
