@use "@styles/abstracts" as *;

.quote-text {
  &__container {
    max-width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 48px;
  }
  &__author {
    font-size: 16px;
    color: var(--c-f-off-white);
    line-height: 20px;
    margin-bottom: 4px;
  }

  &__quote {
    font-family: $f-secondary;
    font-weight:400;
    font-size: 20px;
    font-style: italic;
    color: var(--c-f-white);
    line-height: 24px;
    text-align: center;
    transition: font-size ease 0.3s;
    @include breakpoint-down(x-small) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
