.testimonial-picker {
  &__option {
    width: 12px;
    height:4px ;
    background-color: var(--c-accent);
    border-radius: 1px;
    cursor: pointer;
    transition: width ease 0.4s;
    &--selected {
      width: 28px;
    }
  }
}
