@forward "./abstracts";
@forward "./base";

@font-face {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  src: url("/fonts/cabin-regular.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  src: url("/fonts/cabin-medium.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  src: url("/fonts/cabin-semibold.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  src: url("/fonts/cabin-bold.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  src: url("/fonts/poppins-thin.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("/fonts/poppins-extralight.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("/fonts/poppins-light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/fonts/poppins-regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("/fonts/poppins-medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/fonts/poppins-semibold.ttf") format("truetype");

  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/fonts/poppins-bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("/fonts/poppins-extrabold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  font-weight: 400;
  src: url("/fonts/cabin-regular.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Cabin";
  font-weight: 500;
  src: url("/fonts/cabin-medium.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "Cabin";
  font-weight: 600;
  src: url("/fonts/cabin-semibold.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: "Cabin";
  font-weight: 700;
  src: url("/fonts/cabin-bold.ttf") format("truetype");
  font-style: normal;
  font-display: optional;
}
