---
import PageSectionLayout from "@layouts/PageSectionLayout.astro";
import SiteContainerLayout from "@layouts/SiteContainerLayout.astro";
---

<SiteContainerLayout>
  <PageSectionLayout>
    <div class="grid">
      <div class="item item--sm">ONE</div>
      <div class="item item--sm">TWO</div>
      <div class="item item--md">THREE</div>
      <div class="item item--lg">FOUR</div>
      <div class="item item--sm">FIVE</div>
      <div class="item item--sm">SIX</div>
      <div class="item item--md">SEVEN</div>
      <div class="item item--md">EIGHT</div>
      <div class="item item--lg">TEN</div>
      <div class="item item--md">NINE</div>
    </div>
  </PageSectionLayout>
</SiteContainerLayout>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css?family=Arvo");

  .grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-rows: 210px;
    grid-auto-flow: row dense;
    padding: 0 16px;
  }

  .item {
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &--sm {
      grid-column-end: span 1;
      }

    &--md {
      grid-column-end: span 2;
    }

    &--lg {
      grid-row-end: span 2;
      grid-column-end:span 2;
    }

    &--full {
      grid-column-end: auto;
      @media screen and (min-width: 768px) {
        grid-column: 1/-1;
        grid-row-end: span 2;
      }
    }
  }
</style>
