@use "@styles/abstracts" as *;

.burger-menu {
  width: 64px;
  pointer-events: auto;
  height: 100%;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  @include breakpoint-down(large) {
    display: flex;
  }

  //animate to
  &:hover &__line {
    &:nth-child(1) {
      transform: translate(30%);
    }
    &:nth-child(2) {
      transform: translate(0);
    }
    &:nth-child(3) {
      transform: translate(60%);
    }
  }
// mainly for the on click
  &__line-container {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
@include breakpoint-down(medium) {
      display: flex;
    }
  }

  &__lines-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    
  }
  //initial
  &__line {
    height: 2px;
    width: 100%;
    background-color: var(--c-f-white);
    transform: translate(0px);
    transition: all ease 0.2s;
    position: absolute;

    &:nth-child(1) {
      top: 0;
      right: 0;
      transform: translate(0);
    }

    &:nth-child(2) {
      top: 8px;
      right: 0;
      transform: translate(50%);
    }

    &:nth-child(3) {
      top: 16px;
      right: 0;
      transform: translate(25%);
    }
  }

  &__dots-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items: center;
    position: relative;
    &:hover .burger-menu__dot {
      &:nth-child(2) {
        margin-bottom: 4px;
      }
      &:nth-child(1) {
        margin-top: 4px;
      }
      &:nth-child(3) {
        margin-top: 4px;
      }
    }
    @include breakpoint-down(medium) {
      display: none;
    }

    &:hover .dots-nav {
      display: flex;
    }
  }

  &__dot {
    height: 4px;
    margin: 0 4px;
    aspect-ratio: 1/1;
    background-color: var(--c-f-white);
    border-radius: 2px;
    transition: background-color, margin 0.2s ease;
  }
}

.line-active {
  &:nth-child(1) {
    top: 8px;
    transform: translate(0) rotate(225deg);
  }

  &:nth-child(2) {
    transform: translate(16px) translate(100%);
  }

  &:nth-child(3) {
    top: 8px;
    transform: translate(0) rotate(135deg);
  }
}

.dot-active {
  background-color: var(--c-accent);
}
