@use "@styles/abstracts" as *;

.burger-menu {
  width: 36px;
  pointer-events: auto;
  height: 100%;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  @include breakpoint-down(large) {
    display: flex;
  }
 @include breakpoint-down(medium) {
    margin-left: 16px;
  }
  //animate to
  &:hover &__line {
    &:nth-child(1) {
      transform: translate(30%);
    }
    &:nth-child(2) {
      transform: translate(0);
    }
    &:nth-child(3) {
      transform: translate(60%);
    }
  }

  &__lines-wrapper {
    position: relative;
    width: 20px;
    height: 14px;
    overflow: hidden;
    display: none;
    @include breakpoint-down(medium) {
      display: block;
    }
  }
  //initial
  &__line {
    height: 2px;
    width: 100%;
    background-color: var(--c-f-white);
    transform: translate(0px);
    transition: all ease 0.2s;
    position: absolute;

    &:nth-child(1) {
      top: 0;
      right: 0;
      transform: translate(0);
    }

    &:nth-child(2) {
      top: 6px;
      right: 0;
      transform: translate(50%);
    }

    &:nth-child(3) {
      top: 12px;
      right: 0;
      transform: translate(25%);
    }
  }

  &__dots-wrapper {
    display: flex;
    width: 24px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    &:hover .burger-menu__dot {
      &:nth-child(2) {
        margin-bottom: 4px;
      }
      &:nth-child(1) {
        margin-top: 4px;
      }
      &:nth-child(3) {
        margin-top: 4px;
      }
    }
 @include breakpoint-down(medium) {
      display: none;
    }
  }
 

  &__dot {
    height: 4px;
    aspect-ratio: 1/1;
    background-color: var(--c-f-white);
    border-radius: 2px;
    transition: background-color, margin 0.2s ease;
  }
}

.line-active {
  &:nth-child(1) {
    top: 6px;
    transform: translate(0) rotate(225deg);
  }

  &:nth-child(2) {
    transform: translate(16px) translate(100%);
  }

  &:nth-child(3) {
    top: 6px;
    transform: translate(0) rotate(135deg);
  }
}

.dot-active {
  background-color: var(--c-accent);
}
