---
export type Props = {
    cost: "paid" | "free"
  }
const {cost} = Astro.props as Props
---
<div class={`resources__cost-icon resources__cost-icon--${cost}`}> 

</div>
<style lang="scss"> 
.resources__cost-icon {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    &--free {
        background-color:var(--c-green);
      }
    &--paid{
        background-color:var(--c-purple);
      }
  }


</style>
