---
const { logo } = Astro.props;
---

<div class="stack-option">
  <img class="stack-option__logo" src={`stackIcons/${logo}.svg`} alt={logo} loading="lazy" height={20} width="{20}"/>
</div>

<style lang="scss">
  .stack-option {
    width: 32px;
    height: 32px;
    background-color: var(--c-primary);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    &  img {
      width: 100%;
      height: 100%;
    }
  }
</style>
