---
import AboutMeDP from "@layouts/images/AboutMeDP.astro";
---

<section class="about-me">
  <AboutMeDP />
  <p class="about-me__paragraph">
    Hi, my name is Fenton, and what started as a hobby has quickly become an
    obsession. It all began with a Traversy Media tutorial on YouTube where I
    learned the basics of HTML and CSS.<br> From there, I explored many online
    lessons and became fixated on understanding how the web works and the roles
    that specific programming languages play in it. Today, I have chosen
    JavaScript as my preferred language and have a strong interest in both
    front-end and back-end methodologies. <br>I enjoy building both personal and
    professional projects, as seen below. Recently, I have been exploring some
    creative technologies for web design, allowing me to delve further into my
    creative side and improve the aesthetics of my projects.
  </p>
</section>

<style lang="scss">
  @use "@styles/abstracts" as *;

  .about-me {
    border: 1px solid var(--c-highlight);
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    padding: 9px 0px;
    margin-bottom: 60px;
    @include breakpoint-down(medium) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 24px 0;
      text-align: center;
    }

    &__paragraph {
      line-height: 24px;
      font-size: 14px;
      color: var(--c-f-white);
      font-weight: 300;
      margin: 0px 24px;
      @include breakpoint-down(medium) {
        padding-top: 16px;
      }
      @include breakpoint-down(x-small) {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
</style>
