---
import BreifCase from "@components/Atoms/Icons/BreifCase.astro";
import ParagraphLayout from "@layouts/ParagraphLayout.astro";
import ScholarHat from "@components/Atoms/Icons/ScholarHat.astro";

export interface Props {
  date: (string | number)[];
  title: string;
  icon: "education" | "work";
}

const {
  date = [2022, "present"],
  title = "Exp Title",
  icon,
} = Astro.props as Props;
---

<div class="experience-option">
  <div class="experience-option__icon">
    <slot name="experience-icon">
      {icon === "work" && <BreifCase />}
      {icon === "education" && <ScholarHat/>}
    </slot>
    <div class="experience-option__icon-line"></div>
  </div>
  <div class="experience-option__text-wrap">
    <div class="experience-option__date">{date[0]} - {date[1]} {date[2]}</div>
    <div class="experience-option__title">{title}</div>
    <div class="experience-option__details">
      <ParagraphLayout>
        <slot name="experience-description" />
      </ParagraphLayout>
    </div>
  </div>
</div>

<style lang="scss">
  @use "@styles/abstracts" as *;
  .experience-option {
    display: flex;
    column-gap: 12px;

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      &-line {
        height: 100%;
        background-color: var(--c-highlight);
        width: 1px;
      }
    }

    &__text-wrap {
      display: flex;
      flex-direction: column;
    }

    &__date {
      color: var(--c-accent);
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-transform: capitalize;
      margin-top: 2px;
      margin-bottom: 12px;
    }

    &__title {
      font-family: $f-secondary;
      color: var(--c-f-white);
      font-size: 22px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 8px;
      text-transform: capitalize;
      @include breakpoint-down(medium) {
        font-size: 20px;
      }
    }

    &__details {
      margin-bottom: 8px;
    }
  }
</style>
