---
import NavOption from "@components/Atoms/NavOption/NavOption";
import Toggle from "@components/Atoms/Toggle/Toggle";
import Button from "@components/Atoms/Button/Button";
import NavbarLogo from "@components/Atoms/Icons/navbar_logo.astro";

const navOptions = ["about", "projects", "experience", "resources", "reviews"];
---

<div class="navbar-container">
  <NavbarLogo />
  <div class="navbar__main">
    <!-- Navbar Options -->
    <div class="navbar__main-options-container">
      {
        navOptions.map((option, index) => (
          <NavOption section={option} index={index} client:load />
        ))
      }
    </div>
    <!-- Menu Divider -->
    <div class="navbar__main-divider"></div>

    <!-- Theme Toggle Switch -->
    <Toggle client:load />

    <!-- Menu Divider -->
    <div class="navbar__main-divider"></div>

    <!-- Message Button -->
    <Button variant="border" label="message" />
  </div>
</div>

<style lang="scss">
  .navbar {
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      height: 100%;
    }
    &__main {
      height: 100%;
      display: flex;
      column-gap: 20px;
      align-items: center;
      height: 32px;

      &-options-container {
        display: flex;
        align-items: center;
        column-gap: 32px;
        margin-top: 7px;
      }

      &-divider {
        width: 2px;
        height: 60%;
        border-radius: 4px;
        background-color: var(--c-highlight);
      }
    }
  }
</style>
