---
import FolderIcon from "@components/Atoms/Icons/Folder.astro";
import Button from "@components/Atoms/Button/Button";
---

<div class="project__subcard">
  <div class="project__subcard-top">
    <FolderIcon />
    <div class="project__subcard-btn project__subcard-btn--green">code</div>
  </div>

  <div class="project__subcard-title">
    TypeScript vs JavaScript: Which One You Should Use, and Why
  </div>

  <div class="project__subcard-project-info">
    <div class="project__subcard-btn--project-info project__subcard-btn">
      12 Jun, 2022
    </div>
    <div class="project__subcard-btn--project-info project__subcard-btn">
      personal project
    </div>
  </div>
  <div class="project__subcard-links">
    <Button variant="border" label="github" />
    <Button variant="solid" label="link" />
  </div>
</div>

<style lang="scss">
  .project__subcard {
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 322px;
    height: 216px;
    background-color: var(--c-secondary);
    border-radius: 8px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      padding: 4px 8px;
      line-height: 12px;
      border-radius: 4px;
      height: max-content;
      width: max-content;
      text-transform: capitalize;
      &--green {
        border: 1px solid var(--c-green);
        color: var(--c-green);
      }
      &--purple {
        color: var(--c-purple);
        border: 1px solid var(--c-purple);
      }
      &--project-info {
        color: var(--c-f-off-white);
        background-color: var(--c-highlight);
      }
    }

    &-title {
      color: var(--c-f-white);
      font-family: Cabin;
      font-size: 18px;
      line-height: 24px;
      -webkit-line-clamp: 3;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    &-project-info {
      display: flex;
      column-gap: 12px;
    }

    &-links {
      display: flex;
      column-gap: 16px;
      margin-top: 8px;
    }
  }

  @for $i from 1 through 6 {
    div.project__subcard:nth-child(#{$i}) {
      animation: sweep #{$i * 0.2}s ease-in;
    }
  }

  @keyframes sweep {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
