---
import Button from "@components/Atoms/Button/Button";
import ResourcesCost from "@components/Atoms/ResourcesCost.astro";
export type Props = {
  size: "md" | "sm" | "lg";
  title: string;
  cost: "paid" | "free";
  url?:string
};
const { size, title, cost, url} = Astro.props as Props;
---

<div class={`resource-card resource-card--${size}`}>
  <div class="resource-card__content">
    <div class="resource-card__title-wrapper">
      <h1 class="resource-card__title">{title}</h1>
      <ResourcesCost cost={cost} />
    </div>
    <div class="resource-card__paragraph">
      <slot name="resource-card__paragraph" />
    </div>
  </div>
  <a href={url} target="_blank">
  <Button label="visit" variant="solid" client:visible flashMessage={url ? undefined :
  true}/>
  </a>
  <div class="resource-card__logo">
    <slot name="resource-card__logo" />
  </div>
</div>

<style lang="scss">
  .resource-card {
    background-color: var(--c-secondary);
    border-radius: 8px;
    overflow: hidden;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: var(--c-f-off-white);

    &__paragraph {
      margin-bottom: 12px;
      @media screen and (max-width: 879px) {
        margin-bottom: 24px;
      }
    }
    &__title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      color: var(--c-f-white);
      margin-right: 8px;
      &-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
      }
    }
    &__logo {
      position: absolute;
      bottom: -32px;
      right: -8px;
      opacity: 30%;
    }

    &--sm {
      line-height: 20px;
      & .resource-card__title {
        font-size: 20px;
      }

      & .resource-card__title-wrapper {
        margin-bottom: 8px;
      }
      & .resource-card__logo {
        bottom: -36px;
        right: -24px;
        position: absolute;
      }
    }

    &--md {
      grid-column-end: span 2;
      & .resource-card__title-wrapper {
        margin-bottom: 8px;
      }
    }

    &--lg {
      grid-row-end: span 2;
      grid-column-end: span 2;
    }
  }
</style>
