---
import NavMain from "@components/Molecules/NavMain.astro";
---

<section class="navbar-container">
  <NavMain />
</section>

<style>
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72px;
    border-bottom: 1px solid var(--c-highlight);
  }
</style>
