---
import ProjectCard from "@components/Molecules/ProjectCard.astro";
import SectionHeading from "@components/Molecules/SectionHeading.astro";
const projectCardNumber = [1, 2, 3];
import ProjectsMainData from "@data/ProjectsMainData.json";
---

<SectionHeading index={2} title="projects">
A collection of projects I have completed or contributed towards. Visit my archive to get
a full list.
</SectionHeading>

<section class="projects">
  {
    ProjectsMainData.map((projectInfo, i) => (
      <ProjectCard projectCard={projectInfo} />
    ))
  }
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
</style>
