---
import ResourcesCard from "@components/Molecules/ResourcesCard.astro";
import Udemy from "@components/Atoms/Icons/Udemy.astro";
import Youtube from "@components/Atoms/Icons/Youtube.astro";
import FreeCodeCamp from "@components/Atoms/Icons/FreeCodeCamp.astro";
import CodeCademy from "@components/Atoms/Icons/CodeCademy.astro";
import Logo140 from "@components/Atoms/Icons/Logo140.astro";
import MDN from "@components/Atoms/Icons/MDN.astro";
import SkillShare from "@components/Atoms/Icons/SkillShare.astro";
import Laracasts from "@components/Atoms/Icons/Laracasts.astro";
import Codewars from "@components/Atoms/Icons/Codewars.astro";
import ResourcesCostMenu from "@components/Atoms/ResourcesCostMenu.astro";
import SectionHeading from "@components/Molecules/SectionHeading.astro";
---

<SectionHeading index={4} title="resources">
  I have build my projects using the tools below. Doing so, I have gained a
  degree of confidence within each.I have build my projects using.
</SectionHeading>

<ResourcesCostMenu />
<div class="grid">
  <div class="resource__small">
    <ResourcesCard size="sm" cost="free" title="Traversy Media">
      <Youtube slot="resource-card__logo" />
      <p slot="resource-card__paragraph">
        Fantastic introductory crash courses on a multitude of coding languages
        / frameworks.
      </p>
    </ResourcesCard>

    <ResourcesCard size="sm" cost="free" title="Code Cademy">
      <CodeCademy slot="resource-card__logo" />
      <p slot="resource-card__paragraph">
        Fantastic introductory crash courses on a multitude of coding languages
        / frameworks.
      </p>
    </ResourcesCard>
  </div>

  <ResourcesCard size="md" cost="paid" title="Udemy">
    <Udemy slot="resource-card__logo" />
    <p slot="resource-card__paragraph">
      Online learning and teaching marketplace with over 204,000 courses and 54
      million students. Learn programming, marketing, data science and more.
    </p>
  </ResourcesCard>

  <ResourcesCard size="lg" title="FreeCodeCamp" cost="free">
    <FreeCodeCamp slot="resource-card__logo" />
    <p slot="resource-card__paragraph" style="margin-bottom:12px">
      FreeCodeCamp is a non-profit organization that consists of an interactive
      learning web platform, an online community forum, chat rooms, online
      publications and local organizations that intend to make learning web
      development accessible to anyone
    </p>
    <p slot="resource-card__paragraph" style="margin-bottom:12px">
      Since 2014, more than 40,000 freeCodeCamp.org graduates have gotten jobs
      at tech companies including Apple, Google, Microsoft, Spotify and Amazon
      to name a few.
    </p>
    <p slot="resource-card__paragraph" style="margin-bottom:12px">
      FreeCodeCamp has a very popular youtube channel covering an array of
      beginner projects.
    </p>
  </ResourcesCard>

  <div class="resource__small">
    <ResourcesCard size="sm" title="Codewars" cost="free">
      <Codewars slot="resource-card__logo" />
      <p slot="resource-card__paragraph">
        Fantastic introductory crash courses on a multitude of coding languages
        / frameworks.
      </p>
    </ResourcesCard>

    <ResourcesCard size="sm" title="JavaScript Mas" cost="free">
      <Youtube slot="resource-card__logo" />
      <p slot="resource-card__paragraph">
        Fantastic introductory crash courses on a multitude of coding languages
        / frameworks.
      </p>
    </ResourcesCard>
  </div>

  <ResourcesCard size="md" title="MDN Web Docs" cost="free">
    <MDN slot="resource-card__logo" />
    <p slot="resource-card__paragraph">
      Online learning and teaching marketplace with over 204,000 courses and 54
      million students. Learn programming, marketing, data science and more.
    </p>
  </ResourcesCard>

  <ResourcesCard size="md" title="SkillShare" cost="paid">
    <SkillShare slot="resource-card__logo" />
    <p slot="resource-card__paragraph">
      Online learning and teaching marketplace with over 204,000 courses and 54
      million students. Learn programming, marketing, data science and more.
    </p>
  </ResourcesCard>

  <ResourcesCard size="lg" title="Personal Resource Collection" cost="free">
    <Logo140 slot="resource-card__logo" />
    <p slot="resource-card__paragraph" style="margin-bottom:12px">
      FreeCodeCamp is a non-profit organization that consists of an interactive
      learning web platform, an online community forum, chat rooms, online
      publications and local organizations that intend to make learning web
      development accessible to anyone
    </p>
    <p slot="resource-card__paragraph" style="margin-bottom:12px">
      Since 2014, more than 40,000 freeCodeCamp.org graduates have gotten jobs
      at tech companies including Apple, Google, Microsoft, Spotify and Amazon
      to name a few.
    </p>
    <p slot="resource-card__paragraph" style="margin-bottom:12px">
      FreeCodeCamp has a very popular youtube channel covering an array of
      beginner projects.
    </p>
  </ResourcesCard>

  <ResourcesCard size="md" title="Laracasts" cost="paid">
    <Laracasts slot="resource-card__logo" />
    <p slot="resource-card__paragraph">
      Online learning and teaching marketplace with over 204,000 courses and 54
      million students. Learn programming, marketing, data science and more.
    </p>
  </ResourcesCard>
</div>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css?family=Arvo");

  .grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* change this at smaller screen files to aid with height */
    grid-auto-rows: 100%;
    grid-auto-flow: dense;
  }
  .resource__small {
    display: flex;
    grid-column-end: span 2;
    gap: 16px;

    @media screen and (max-width: 400px) {
      flex-wrap: wrap;
    }
  }
</style>
