---
import ProjectSubCard from "@components/Molecules/ProjectSubCard.astro";
import Button from "@components/Atoms/Button/Button";
import ToggleDownArrow from "@components/Atoms/Icons/ToggleDownArrow.astro";

const numberOfProjects = [1, 2, 3, 4, 5, 6];
const numberOfSubProjects = [1, 2, 3, 4, 5];
---

<section class="sub-projects">
  <div class="sub-projects__title">Further notable projects</div>
  <div class="sub-projects__btns">
    <Button variant="border" label="view archive" />
    <div class="sub-projects__archived-projects">
      <span class="sub-projects__archived-projects-num">22</span> archived projects
    </div>
  </div>
  <div class="sub-projects__cards">
    {numberOfProjects.map((project, i) => <ProjectSubCard />)}
  </div>
  <details>
    <div class="sub-projects__cards">
      {numberOfSubProjects.map((project, i) => <ProjectSubCard />)}
    </div>
    <summary></summary>
  </details>
  <div class="sub-projects__divider"></div>
  <div class="sub-projects__toggle-arrow">
    <ToggleDownArrow />
  </div>
</section>

<style lang="scss">
  summary {
    display: none;
    visibility: none;
  }
  details {
    margin-top: 17px;
  }
  .sub-projects {
    margin-top: 80px;
    &__title {
      font-size: 28px;
      color: var(--c-f-white);
      font-family: Cabin;
      line-height: 32px;
      text-align: center;
      margin-bottom: 40px;
      text-transform: capitalize;
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      gap: 17px;
    }
    &__btns {
      margin-bottom: 16px;
      height: max-content;
      display: flex;
      justify-content: space-between;
    }
    &__archived-projects {
      text-transform: capitalize;
      padding: 8px 16px;
      background-color: var(--c-secondary);
      width: max-content;
      font-family: Cabin;
      font-size: 14px;
      color: var(--c-f-off-white);
      border-radius: 6px;

      &-num {
        color: var(--c-accent);
      }
    }
    &__divider {
      width: 100%;
      height: 2px;
      background-color: var(--c-secondary);
      margin-top: 40px;
    }
    &__toggle-arrow {
      padding: 4px 32px;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--c-secondary);
      margin: 24px auto 0 auto;
      border-radius: 4px;
      cursor: pointer;
    }
  }
</style>
<script>
  const button = document.querySelector(".sub-projects__toggle-arrow");
  button.addEventListener("click", () => {
    const detailsOpen = document.querySelector("details");
    detailsOpen.toggleAttribute("open");
  });
</script>
