.nav-modal__option {
  color: var(--c-f-off-white);
  font-size: 16px;
  font-weight: 300;
  font-family: Cabin;
  padding: 16px 0;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--c-highlight);
  text-transform: capitalize;
  transition: color 0.3s ease ;
  cursor: pointer;
  &:hover {
  color: var(--c-f-white);
  }
}
