---
const { bgdark }: { bgdark?: boolean } = Astro.props;
---

<section class={`divider80 ${bgdark && "dark-bg"}`}>
  <section class="section-content">
    <div class="section-content__container">
      <slot />
    </div>
  </section>
</section>

<style lang="scss">
  .dark-bg {
    background-color: var(--c-secondary);
    padding: 80px 0;
  }

  .divider80 {
    margin: 80px 0;
  }

  .section-content {
    margin: 0 16px;
    &__container {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
</style>
