---
import "@styles/global.scss";
import Navbar from "@components/Organisms/Navbar/Navbar";
import Footer from "@components/Organisms/Footer.astro";

export interface HeaderProps {
  title: string;
}
const { title = "Fenton Treasure | Portfolio" } = Astro.props as HeaderProps;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="shortcut icon" type="image/png" href="favicon.svg">
      </head>
  <body>
      <Navbar client:load/>
      <section class="portfolio">
        <slot />
      </section>
      <Footer />
  </body>
</html>


