---
import ToolbeltOption from "@components/Molecules/ToolbeltOption.astro";
const temporaryToolbeltCards = [
  { name: "react", conf: 90 },
  { name: "framerMotion", conf: 85 },
  { name: "figma", conf: 90 },
  { name: "github", conf: 80 },
  { name: "postman", conf: 70 },
  { name: "prisma", conf: 65 },
  { name: "nestjs", conf: 75 },
];

temporaryToolbeltCards.sort((cardA, cardB) => cardB.conf - cardA.conf)
---

<section class="toolbelt__cards-container">
  {
    temporaryToolbeltCards.map((cardOption, index) => (
      <ToolbeltOption label={cardOption.name} conf={cardOption.conf} i={index} />
    ))
  }
</section>

<style>
  .toolbelt__cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
</style>
