//Reset
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: "Cabin";
}
body {
  font-family: "Poppins", "Cabin", sans-serif;
  background-color: var(--c-primary);
}

.body-overflow {
  overflow: hidden;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

br {
  display: block;
  content: "";
  border-bottom: 4px solid transparent; // Works in Chrome/Safari
}
@-moz-document url-prefix() {
  br {
    margin-bottom: 4px; // As 'border-bottom' doesn't work in firefox and 'margin-bottom' doesn't work in Chrome.
  }
}
html:focus-within {
  scroll-behavior: smooth;
}

a {
  color: var(--t-active);
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

h1 {
  font-size: var(--f-u8);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  font-family: "Poppins", "Cabin", sans-serif;
}
